html,
body {
  height: 100%;
}
body {
  background: radial-gradient(
    ellipse at center,
    rgb(236 236 224) 0%,
    rgba(255, 254, 234, 1) 35%,
    #8ad7dc 100%
  );
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/* body {
  background-color: #cfdada;
} */

.title {
  /* background-color: rgb(38, 51, 66); */
  color: white;
  /* position: relative; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Titan One", cursive;
  /* display: inline-block;
  width: 100vw; */
}

.title h1 {
  font-size: 9vh;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20px;
  /* display: inline-block;
  margin-left: 29vw; */

  /* background: -webkit-linear-gradient(yellow, red); */
  /* background: rgb(9, 57, 70);
  background: linear-gradient(
    0deg,
    rgba(9, 57, 70, 1) 0%,
    rgba(42, 144, 163, 1) 35%,
    rgba(46, 224, 246, 1) 77%
  ); */
  background: rgb(84, 75, 238);
  background: linear-gradient(
    0deg,
    rgba(84, 75, 238, 1) 0%,
    rgba(17, 193, 223, 1) 64%,
    rgba(102, 217, 251, 1) 84%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}

/* .backButton {
  margin-left: 5vw;
  width: 5vw;
  height: 4vh;
  border-radius: 5px;
  color: #f9f8f7;
  font-family: Arial;
  font-size: larger;
  border: white;
  background-color: #e8b721;
} */

.backButton {
  position: absolute;
  left: 9vw;
  top: -9vh;
  font-family: Arial;
  border: white;
  padding: 5px 23px;
  background-color: #ecb040;
  box-shadow: 0px 5px 0px 0px #ce8b46;
  outline: none;
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 99999;
}
.backButton:hover {
  background-color: #c59130;
  box-shadow: 0px 5px 0px 0px #4b3a29;
}
.hidden {
  visibility: hidden;
}

.playerScreen {
  display: inline-block;
  margin-left: 14vw;
}
.configKey {
  color: #1d91ca;
  margin-bottom: 15px;
}
.chooseboard {
  text-align: -webkit-center;
  margin: 2vh 0px 4vh 0px;
  color: #324d9c;
}
.content-left {
  text-align-last: center;
  margin-bottom: 4px;
}
.content-right {
  text-align-last: center;
}

.configuration {
  font-family: Arial;
  border-radius: 10px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  /* margin-left: 35px; */
  background-color: #ffffff;
  height: 4vh;
  width: 8vw;
}

.startButton {
  border: none;
  background-color: #ecb040;
  box-shadow: 0px 5px 0px 0px #ce8b46;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  z-index: 99999;
}
.startButton:hover {
  background-color: #c59130;
  box-shadow: 0px 5px 0px 0px #4b3a29;
}
.boardSizeSection {
  margin-left: 38vw;
  margin-top: 6vh;
}
.boardSizeConfig {
  display: inline-flex;
}

.box {
  border: 1px rgb(253, 252, 252) solid;
  /* background-color: rgb(96, 197, 208); */
}
.boardEnabled .box:hover {
  background-color: rgb(247 251 247 / 47%);
}
/* .boardDisabled > .box:hover {
  background-color: rgb(247 251 247 / 0%);
} */

.board {
  display: grid;
  grid-gap: 0px;
  top: 0px;
  width: 29vw;
  height: 29vw;
  background: rgb(84, 75, 238);
  background: linear-gradient(
    0deg,
    rgba(84, 75, 238, 1) 0%,
    rgba(17, 193, 223, 1) 64%,
    rgba(102, 217, 251, 1) 84%
  );
  filter: drop-shadow(20px 8px 6px rgb(0 0 0 / 30%));
}
.boardDisabled {
  transition-delay: 0.5s;
  opacity: 0.3;
}

.positionBox {
  font-size: 12px;
  margin-left: 5px;
  color: #070b9e;
}

.attackedBox {
  background-color: rgb(241 189 92);
  background-image: url("barco.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.waterBox {
  background-color: rgb(53 90 146);
  background-image: url("ola.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .positionBox {
    display: none;
  }
  .playerScreen {
    display: block;
    text-align: -webkit-center;
    margin-left: 0px;
  }

  .wave {
    display: none;
  }

  .configuration {
    width: 28vw;
  }
}

/* waves: CodePen Home
WAVE CSS
Hyu Lee
https://codepen.io/buyubaya/pen/QrbdLE

button: https://codepen.io/nikola1970/pen/oxXbmb

typography title: https://fonts.google.com/specimen/Titan+One */
