body {
  background-color: #cfdada;
}

.box {
  width: 6vw;
  height: 10vh;
  border: 1px black solid;
  background-color: rgb(96, 197, 208);
}
.box :hover {
  background-color: rgb(221, 102, 47);
}

.board {
  width: 0px;
  display: grid;
  grid-gap: 0px;
  top: 0px;
}

.posiciones li {
  list-style: none;
}
.rowPosition {
  width: 100px;
  height: 100px;
  background-color: rgb(151, 243, 164);
}
.posicionesFila {
  width: 0px;
  display: grid;
  grid-gap: 0px;
  position: absolute;
}
.columnPosition {
  width: 100px;
  height: 100px;
}

.gameScreen h1 {
  background-color: rgb(38, 51, 66);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  padding-top: 20px;
}
.attackedBox {
  background-color: rgb(212, 71, 14);
  background-image: url("bomba.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.waterBox {
  background-color: rgb(53 90 146);
  background-image: url("ola.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.casillaConBarco {
  background-color: rgb(98, 196, 226);
}
.boardDisabled {
  transition-delay: 0.5s;
  opacity: 30%;
}

.playerScreen {
  display: inline-block;
  margin-top: 5vh;
  margin-left: 40vh;
}
